.HomePage ul {
  list-style: none;
}
.HomePage h1 {
  margin-left: 20px;
  /* padding: 10px; */
}
.HomePage li {
  border: 2px solid rgba(255, 248, 30, 0.83);
  margin: 10px 20px;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
